.dropdown-selector {
    position: relative;
}

.dropdown-selector .dropdown-toggle {
    text-align: left;
}

.dropdown-selector .dropdown-toggle .glyphicon {
    float: right;
}


.dropdown-selector .dropdown-toggle .placeholder {
    color: #CCC;
    font-style: italic;
}

.dropdown-selector .dropdown-menu {
    width: 100%;
    margin-top:0;
}

.dropdown-selector .dropdown-menu li:first-child a {
    color: #CCC;
    font-style: italic;
}

.dropdown-selector.col-sm-1 .dropdown-menu,
.dropdown-selector.col-sm-2 .dropdown-menu,
.dropdown-selector.col-sm-3 .dropdown-menu,
.dropdown-selector.col-sm-4 .dropdown-menu,
.dropdown-selector.col-sm-5 .dropdown-menu,
.dropdown-selector.col-sm-6 .dropdown-menu,
.dropdown-selector.col-sm-7 .dropdown-menu,
.dropdown-selector.col-sm-8 .dropdown-menu,
.dropdown-selector.col-sm-9 .dropdown-menu,
.dropdown-selector.col-sm-10 .dropdown-menu,
.dropdown-selector.col-sm-11 .dropdown-menu,
.dropdown-selector.col-sm-12 .dropdown-menu {
    left: 15px;
    right: 15px;
    width: auto;
}

div[class*='dropdown-selector']
/*
.dropdown-value-field {
    position: absolute;
    width:100%;
    bottom:0;
    left:0;
}

.dropdown-selector .glyphicon {
    position: absolute;
    right: 16px;
    bottom: 0;
    top: auto;
}

.dropdown-selector-options {

}

.relative {
    position: relative;
}*/

/* temp for testing */
select,
select.form-control {
    color: #CCC;
    height: 33px;
}

select option,
.form-control option {
    color: #000;
}

select option:first-child,
.form-control option:first-child {
    color: #CCC;
}

select.option-selected {
    color: #000;
}