.dropdown-selector{
    
}

.dropdown-value-field {
    position: absolute;
    width:100%;
    bottom:0;
    left:0;
}

.dropdown-selector .glyphicon {
    position: absolute;
    right:16px;
    bottom: 16px;
}

.dropdown-selector-options {

}

.relative {
    position: relative;
}

/* temp for testing */
select,
select.form-control {
    color: #CCC;
    height: 33px;
}

select option,
.form-control option {
    color: #000;
}

select option:first-child,
.form-control option:first-child {
    color: #CCC;
}

select.option-selected {
    color: #000;
}