<div class="dropdown-selector">
    <button type="button" class="btn dropdown-toggle form-control" data-dojo-attach-point="selectDropdownButton">
        <span class="filter-option dropdown-value-field" data-dojo-attach-point="selectValueFieldNode">select an option...</span> 
        <span class="glyphicon glyphicon-menu-down"></span>
    </button>
    <div class="dropdown-menu" data-dojo-attach-point="dropdownSelectorMenuNode">
        <ul data-dojo-attach-point="listNode" aria-expanded="false" class="dropdown-menu-list">
        </ul>
    </div>
</div>

