<div class="dropdown-selector dropdown">
    <button type="button" class="dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-dojo-attach-point="selectDropdownButton">
        <span class="filter-option dropdown-value-field" data-dojo-attach-point="selectValueFieldNode">select an option...</span> 
        <span class="glyphicon glyphicon-menu-down"></span>
    </button>
    <ul class="dropdown-menu" data-dojo-attach-point="dropdownSelectorMenuNode">
    </ul>
</div>

